# __Finance 6470 Lectures Notes: Estimating Historical Volatility__

<br>

Finance 6470: Derivatives Markets <br>
Tyler J. Brough <br>
Last Updated: April 9, 2019 <br>
<br>
<br>

In this notebook I will demonstrate how to estimate historical annualized volatility from daily historical data for IBM from 2003/01/01 to 2003/12/31. 

<br>

## Properties of Continuously Compounded Returns

Recall some important properties of continuously compounded returns: 

* The logarithmic function computes returns from prices

$$
r_{t,t+h} = \ln{(S_{t+h}/S_{t})}
$$

* The exponential function computes prices from returns

$$
S_{t+h} = S_{t} e^{r_{t,t+h}}
$$

* Continuously compounded returns are additive

<br>

## Volatility

* Suppose the continuously compounded return over mont $i$ is $r_{monthly, i}$. Since returns are additive, the annual return is

$$
r_{annual} = \sum\limits_{i=1}^{12} r_{monthly,i}
$$

* The variance of the annual return is 

$$
Var(r_{annual}) = Var(\sum\limits_{i=1}^{12} r_{monthly,i})
$$

<br>

## The Standard Deviation of Continuously Compounded Returns

* Suppose that returns are uncorrelated over time and that each month has the same variance of returns (big assumption!). The from the above we have

$$
\sigma^{2} = 12 \cdot \sigma_{monthly}^{2}
$$

* where $\sigma^{2}$ denotes the annual variance

* Taking the square root of both sides yields

$$
\sigma = \sigma_{monthly} \cdot \sqrt{12}
$$

* To generalize this formula, if we split the year into $n$ periods of length $h$ (so that $h = 1/n$), the standard deviation over the period of length $h$, $\sigma_{h}$, is

$$
\sigma = \frac{\sigma_{h}}{\sqrt{h}}
$$

* or as

$$
\sigma_{h} = \sigma \cdot \sqrt{h}
$$

<br>

__NB:__ this is for $h = 1/n$, so for daily data: $h = 1/252$ and $\sigma = \frac{\sigma_{Daily}}{(1 / \sqrt{252})} = \sigma_{Daily} \cdot \sqrt{252}$

<br>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ibm = pd.read_csv("./data/IBM-1999-2003.csv", parse_dates=True, index_col=1)

In [3]:
ibm.head()

,PERMNO,TICKER,COMNAM,PERMCO,PRC,RET,CFACPR,RETX,sprtrn
date,,,,,,,,,
1999-01-04,12490,IBM,INTERNATIONAL BUSINESS MACHS COR,20990,183.0000,-0.007458,2,-0.007458,-0.000919
1999-01-05,12490,IBM,INTERNATIONAL BUSINESS MACHS COR,20990,189.6250,0.036202,2,0.036202,0.013582
1999-01-06,12490,IBM,INTERNATIONAL BUSINESS MACHS COR,20990,188.7500,-0.004614,2,-0.004614,0.022140
1999-01-07,12490,IBM,INTERNATIONAL BUSINESS MACHS COR,20990,190.1875,0.007616,2,0.007616,-0.002051
1999-01-08,12490,IBM,INTERNATIONAL BUSINESS MACHS COR,20990,187.5625,-0.013802,2,-0.013802,0.004221

In [4]:
ibm.tail()

,PERMNO,TICKER,COMNAM,PERMCO,PRC,RET,CFACPR,RETX,sprtrn
date,,,,,,,,,
2003-12-24,12490,IBM,INTERNATIONAL BUSINESS MACHS COR,20990,92.27,-0.005604,1,-0.005604,-0.001807
2003-12-26,12490,IBM,INTERNATIONAL BUSINESS MACHS COR,20990,92.90,0.006828,1,0.006828,0.001691
2003-12-29,12490,IBM,INTERNATIONAL BUSINESS MACHS COR,20990,93.52,0.006674,1,0.006674,0.012401
2003-12-30,12490,IBM,INTERNATIONAL BUSINESS MACHS COR,20990,92.63,-0.009517,1,-0.009517,0.000144
2003-12-31,12490,IBM,INTERNATIONAL BUSINESS MACHS COR,20990,92.68,0.000540,1,0.000540,0.002055

In [5]:
begDate = "2003-01-01"
endDate = "2003-12-31"
tmp = ibm[begDate:endDate]

ibmRet = tmp.PRC.apply(np.log).diff().dropna()

In [6]:
ibmRet[:10]

date
2003-01-03    0.013315
2003-01-06    0.023482
2003-01-07    0.028423
2003-01-08   -0.021271
2003-01-09    0.032832
2003-01-10    0.007786
2003-01-13   -0.001941
2003-01-14    0.012153
2003-01-15   -0.011239
2003-01-16   -0.017738
Name: PRC, dtype: float64

In [7]:
ibmRet[-10:]

date
2003-12-17   -0.006191
2003-12-18   -0.007199
2003-12-19    0.004412
2003-12-22    0.002681
2003-12-23   -0.006445
2003-12-24   -0.005620
2003-12-26    0.006805
2003-12-29    0.006652
2003-12-30   -0.009562
2003-12-31    0.000540
Name: PRC, dtype: float64

In [8]:
vol = ibmRet.std(ddof=1) * np.sqrt(252)
print(f"The Historical Estimate of IBM's 2003 Annualized Volatility is: {vol : 0.4f}")

The Historical Estimate of IBM's 2003 Annualized Volatility is:  0.2310

<br>

__NB:__ this can now be used as an input to an option pricing model (e.g. Binomial or Black-Scholes)

<br>